{% extends 'blog/content.html' %}

{% block title %}Search{% endblock %}
{% block home_class %}{% endblock %}
{% block search_class %}active{% endblock %}



{% block search %}
        <form role="form" {% url 'search' %} method='get' class="form-horizontal">
            {% csrf_token %}

            <div class="form-group">
                <label for="text_field" class="col-sm-1 control-label">Search</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" name="text_field" id="text_field" value="{{ search_text }}">
                </div>
                <button type="submit" class="btn btn-default col-sm-1">Search</button>
            </div>

        </form>
{% endblock %}