{% extends 'main_app/base.html' %}

{% block content %}
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">About</h1>



            <div class="row">

                        <div class="col-sm-10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel lobortis sapien, molestie ornare arcu.
                                Integer malesuada maximus malesuada.
                                Morbi vitae nunc purus. Integer ultricies ac lacus vel scelerisque. Ut venenatis justo quis venenatis euismod.
                                Nulla efficitur enim sit amet aliquet cursus.
                                In mollis ullamcorper interdum. Quisque iaculis, mauris at commodo fringilla, massa justo egestas lectus,
                                id facilisis erat nulla ac purus. Maecenas non diam eget nulla elementum dictum vitae sit amet enim.
                                Mauris tempor dui at blandit pharetra. Nam id ornare libero. Duis nec tincidunt massa, quis sollicitudin augue.
                                Fusce at porta turpis, non vulputate diam.</p>

                            <p>Praesent nisi ligula, tincidunt a nibh in, rutrum gravida velit. Nunc quis urna sapien. Nulla et lectus augue.
                                Donec vitae lorem risus. Quisque mauris ligula, congue ac dignissim non, luctus eget nisi. Duis sapien enim,
                                placerat a vestibulum a, elementum eu mi. Etiam nec libero vitae lacus congue interdum.<p>

                            <p>Duis turpis libero, egestas at metus sit amet, aliquet finibus nibh. Duis risus elit, viverra et pharetra id,
                            faucibus id dolor. Duis eu efficitur mi. Suspendisse consectetur felis velit, sed volutpat dui dignissim et.
                            Praesent non dolor a urna rhoncus rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia Curae;.</p>
                        </div>



            </div>

        </div>
    </div>
{% endblock %}