{% extends 'main_app/base.html' %}
{% load staticfiles %}

{% block content %}

    <script src="{% static 'js/libs/jquery.min.js'%} "></script>
	<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/libs/angular.min.js' %}"></script>
    <script src="{% static 'js/libs/angular-cookies.min.js' %}"></script>
    <script src="{% static 'js/libs/sortable.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/directives/angular.editInPlace.js' %}"></script>
    <script src="{% static 'js/directives/angular.ngEnter.js' %}"></script>
    <script src="{% static 'js/libs/xeditable.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    <link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    {% verbatim %}
    <div ng-controller="TodoCtrl" ng-init="init()">


        <div class="container" ng-controller="TodoCtrl" id="playground">
            <div class="row">
                <div class="col-xs-3">
                    <div class="list-group">
                        <a href="#" ng-repeat="todos in model" class="list-group-item"
                           ng-class="{'active' : currentShow === $index}" ng-click="changeTodo($index)">
                            <span class="badge">{{todos.list.length}}</span>
                            {{todos.name}}
                        </a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
							</span>
                                <input type="search" class="form-control" placeholder="Search" ng-model="todoSearch">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <ul class="nav nav-pills todo-filter">
                                <li ng-class="{'active' : show == 'All' }" ng-click="show='All'"><a href="#">All</a>
                                </li>
                                <li ng-class="{'active' : show == 'Incomplete' }" ng-click="show='Incomplete'"><a
                                        href="#">Incomplete</a></li>
                                <li ng-class="{'active' : show == 'Complete' }" ng-click="show='Complete'"><a href="#">Complete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="todoAdd">
                        <div class="form-group">
                            <input class="todoField" id="newTodoField" type="text" ng-model="newTodo"
                                   placeholder="Add New Todo" ng-enter>
                            <button id="todoSubmit" class="btn btn-default" ng-click="addTodo()">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="list-unstyled" ng-repeat="projects in model track by $index"
                            ui-sortable="todoSortable" ng-model="projects.tasks" ng-show="$index === currentShow">
                            <li class="todoTask"
                                ng-repeat="task in projects.tasks | filter:showFn | filter :todoSearch">
                                <input class="todoCheckbox" ng-model="task.isDone" type="checkbox" ng-click='toggleTodoItemStatus(task)'>
                                <label class="todoCheckboxlabel"></label>
                                <a href="#" editable-text="task.title" onaftersave="updateTask(task)" e-required e-placeholder="Enter task">{{ task.title }}</a>
                                <button type="button" class="close pull-right" aria-hidden="true"
                                        ng-click="deleteTodo(task)">&times;</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
    {% endverbatim %}
{#                                <edit-in-place value="task.title"></edit-in-place>#}




{% endblock %}