{% extends 'main_app/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Today</a></li>
                <li><a href="#">Next 7 days</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Project 1</a></li>
                <li><a href="">Project 2</a></li>
                <li><a href="">Project 3</a></li>
                <li><a href="">Project 4</a></li>
                <li><a href="">Project 5</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Overview</h1>
            <form action="{% url 'process' %}" method='post'>
                {% csrf_token %}
                <label for="task_desc">Add new task:</label>
                <p><textarea id="task_desc" name='task_desc' cols="100"></textarea></p>

                <p><input type='submit' value='Add'/></p>
            </form>


            <div class="row">
                {% if tasks %}
                    {% for t in tasks %}
                        <div class="col-sm-10">
                            <h4>{{ t.title }}</h4><i>{{ t.t_date }}</i>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No tasks for today! </p>
                {% endif %}


            </div>

        </div>
    </div>
{% endblock %}