{% extends 'main_app/base.html' %}
{% load main_app_extras %}
{% block title %}Sign in{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main">
            <h1 class="page-header">Sign in</h1>


            <div class="row">
                {% if next %}
                    <form class="form-horizontal" role="form" id="login_form" method="post"
                          action="{% url 'sign_in' %}?next={{ next }}">
                {% else %}
                    <form class="form-horizontal" role="form" id="login_form" method="post"
                          action="{% url 'sign_in' %}">
                {% endif %}
                {% csrf_token %}
                {#                {{ form.as_p }}#}


                {% for field in form %}


                    <div class="form-group">
                        <div class="col-sm-2 control-label">{{ field.label_tag }}</div>

                        <div class="col-sm-7">
                            {{ field|addcss:"form-control" }}
                        </div>
                    </div>
                {% endfor %}
                {#                                <div class="form-group">#}
                {#                                    <label for="username" class="col-sm-2 control-label">Username</label>#}
                {##}
                {#                                    <div class="col-sm-7">#}
                {#                                        <input type="text" class="form-control" id="username" name="username"#}
                {#                                               placeholder="username">#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                                <div class="form-group">#}
                {#                                    <label for="password" class="col-sm-2 control-label">Password</label>#}
                {##}
                {#                                    <div class="col-sm-7">#}
                {#                                        <input type="password" class="form-control" id="password" name="password"#}
                {#                                               placeholder="password">#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                                <div class="form-group">#}
                {#                                    <div class="col-sm-offset-2 col-sm-7">#}
                {#                                        <div class="checkbox">#}
                {#                                            <label>#}
                {#                                                <input type="checkbox"> Remember me#}
                {#                                            </label>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-7">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
{% endblock content %}

